.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.container .list-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .list-group .task-list {
  width: 150px;
  height: 300px;
  border: 1px solid black;
}

.container .list-group .task-list .task {
  display: flex;
  justify-content: space-between;
}

.container .list-group .task-list .task span {
  text-align: center;
}